<div class="container">
	<h1>All Page</h1>
	
	<% @pages.each do |page| %>

		<div class="well">
			
			<%= link_to admin_page_path(page) do %>
				<%= page.title %> ----- slug : <%= url_for_page page %>
			<% end %>

			<span class="pull-right">
				<%= link_to "Show", admin_page_path(page), class: "btn btn-info btn-xs" %>				
				<%= link_to "Edit", edit_admin_page_path(page), class: "btn btn-info btn-xs" %>				
				<%= link_to "Delete", admin_page_path(page), method: :delete, data: { confirm: "Sure to Delete?"}, class: "btn btn-danger btn-xs" %>
			</span>
			
		</div>

	<% end %>

	<hr>
	<%= link_to "New Page", new_admin_page_path, class: "btn btn-primary" %>	
</div>
