	<%= form_for ["admin", @type] do |f| %>
		
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, class: "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :field_definitions %>
			<%= f.fields_for :field_definitions do |c| %>
				<p>
					<%= c.text_field :key %>
					<%= c.hidden_field :id %>
				</p>
			<% end %>
		</div>

		<%= f.submit "Create", class: "btn btn-primary" %>

	<% end %>
