<div class="container">
	<h1>All Page</h1>
	
	<% @pages.each do |page| %>

		<div class="well">
			<%= link_to page_path(page) do %>
				<%= page.title %>
			<% end %>
			<span class="pull-right">
				<%= link_to "Show", page_path(page), class: "btn btn-info btn-xs" %>				
				<%= link_to "Edit", edit_page_path(page), class: "btn btn-info btn-xs" %>				
				<%= link_to "Delete", page_path(page), method: :delete, data: { confirm: "Sure to Delete?"}, class: "btn btn-danger btn-xs" %>
			</span>
		</div>

	<% end %>

	<hr>
	<%= link_to "New Page", new_page_path, class: "btn btn-primary" %>	
</div>
